.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
SDC_DS_validation.Rmd
test.R
test_1.R
SDC_DS_HUNT_validation.Rmd
SDC_DS_LUCAS_validation.Rmd
SDC_DS_HUNT_validation.html
SDC_DS_RECORD_validation.Rmd
SDC_DS_LASA1_validation.Rmd
SDC_DS_GLOBE_validation.Rmd
SDC_DS_LASA2_Validation.Rmd
SDC_DS_GLOBE_validation_old_1.Rmd
workshop.R
DS_RECORD.csv
DS_GLOBE.csv
SDC_DS_HAPIEE_RU_validation.Rmd
SDC_DS_GLOBE_validation_old.Rmd
SDC_DS_HAPIEE_CZ_validation.Rmd
SDC_DS_HAPIEE_LT_validation.Rmd