.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
SDC_DS_validation.Rmd
test.R
test_1.R
SDC_DS_HUNT_validation.Rmd
SDC_DS_LUCAS_validation.Rmd
SDC_DS_HUNT_validation.html
SDC_DS_RECORD_validation.Rmd
SDC_DS_LASA1_validation.Rmd
SDC_DS_GLOBE_validation.Rmd
SDC_DS_LASA2_Validation.Rmd
SDC_DS_GLOBE_validation_old_1.Rmd
SDC_DS_CLSA_COP_Validation.Rmd
workshop.R
DS_RECORD.csv
DS_GLOBE.csv
SDC_DS_HAPIEE_RU_validation.Rmd
SDC_DS_GLOBE_validation_old.Rmd
SDC_DS_HAPIEE_CZ_validation.Rmd
SDC_DS_HAPIEE_LT_validation.Rmd
cop4_baseline.csv
cop4_baseline_clean.csv
cop4_baseline_part1.csv
cop4_baseline_part2.csv
cop4_baseline_part3.csv
cop4_fu1.csv
cop4_fu1_clean.csv
cop4_fu1_part1.csv
cop4_fu1_part2.csv
cop4_fu1_part3.csv
combinedsampleweigths_baseline.csv
status201907_fu1_tra.csv
tra3_4_baseline.csv
tra3_4_baseline_clean.csv
tra3_4_baseline_part1.csv
tra3_4_baseline_part2.csv
tra_fu1.csv
tra_fu1_clean.csv
tra_fu1_part1.csv
tra_fu1_part2.csv
cop0.csv
copfu1.csv